.heading {
    padding: .4em;
}

.header {
    /* width: 100vw; */
    height: 2.5em;
    background-color: cadetblue;
    color: black;
}

.searchStyle {
    width: 97vw;
    border-radius: .4em;
    padding: .3em;
    margin: .7em;
}
